[user]
	email = wymaditya@gmail.com
	name = Aditya Deshlahre
	signingkey = 157DD6EF1282C9D9
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = nvim -R +'set nomodifiable noswapfile nocursorcolumn nonumber norelativenumber scrolloff=999' +'set ft=git' -
	autocrlf = input
[color]
	pager = false
[fetch]
	# Delete outdated branch during fetch
	prune = true
[init]
	defaultBranch = master
[status]
	short = true
[credential]
	# It stores the credential in ~/.git-credentials; use SSH!
	#helper = store
	# 1 hr
	helper = osxkeychain
[http]
	postBuffer = 157286400
[commit]
	gpgsign = true
[tag]
	gpgsign = true
