[user]
	name = Theo P
	email = theo.park.n@gmail.com
#	email = 63016528+theopn@users.noreply.github.com
#	email = 11766464-theopn@users.noreply.gitlab.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = nvim -R +'set nomodifiable noswapfile nocursorcolumn nonumber norelativenumber scrolloff=999' +'set ft=git' -
	autocrlf = input
[color]
	pager = false
[fetch]
	# Delete outdated branch during fetch
	prune = true
[init]
	defaultBranch = main
[status]
	short = true
[credential]
	# It stores the credential in ~/.git-credentials; use SSH!
	#helper = store
	# 1 hr
	helper = cache --timeout=3600
[http]
	postBuffer = 157286400
