/*
 * _      __          __              ______       __
 *| | /| / /__ ___ __/ /  ___ _____  / __/ /___ __/ /__
 *| |/ |/ / _ `/ // / _ \/ _ `/ __/ _\ \/ __/ // / / -_)
 *|__/|__/\_,_/\_, /_.__/\_,_/_/   /___/\__/\_, /_/\__/
 *            /___/                        /___/
 */

/* Bar Configuration */

* {
  font-family: FantasqueSans Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 7px;
  background-color: rgba(40, 42, 54, 0.0); /* Dracula BG */
  color: rgb(248, 248, 242); /* Dracula FG */
  transition-property: background-color;
  transition-duration: .5s;
}

/* Modules-Center */

#workspaces {
  border-radius: 10px;
}

#workspaces button {
  background-color: rgba(40, 42, 54, 0.5); /* Dracula BG */
  box-shadow: inset 0 -3px transparent;
  color: rgb(248, 248, 242); /* Dracula FG */
  margin: 1px 1px;
  padding: 0 5px;
}

#workspaces button:hover {
  color: rgb(241, 250, 140); /* Dracula Yellow */
  box-shadow: inset 0 -3px rgb(241, 250, 140); /* Dracula Yellow */
}

#workspaces button.focused {
  background-color: rgba(68, 71, 90, 0.5); /* Dracula Current Line */
  box-shadow: inset 0 -3px rgb(139, 233, 253); /* Dracula Cyan */
}

#workspaces button.urgent {
  background-color: rgb(255, 85, 85); /* Dracula Red */
}

#mode {
  box-shadow: inset 0 -3px rgb(139, 233, 253); /* Dracula Cyan */
  color: rgb(139, 233, 253); /* Dracula Cyan */
  padding: 0 5px;
}

/* Universal Module Settings */

#disk, #temperature, #cpu, #memory, #disk, #tray, #custom-dunst_toggle,
#custom-spotify, #pulseaudio, #backlight, #custom-nightlight_toggle, #battery, #network, #clock, #custom-weather {
  border-radius: 10px;
  color: rgb(248, 248, 242); /* Dracula FG */
  margin: 3px 3px;
  padding: 0 10px;
}

/* Modules-Left */

#disk {
  background-color: rgba(139, 233, 253, 0.5); /* Dracula Cyan */
}

#temperature {
  background-color: rgba(80, 250, 123, 0.5); /* Dracula Green */
}

#cpu {
  background-color: rgba(255, 184, 108, 0.5); /* Dracula Orange */
}

#memory {
  background-color: rgba(255, 121, 198, 0.5); /* Dracula Pink */
}

#network {
  background-color: rgba(189, 147, 249, 0.5); /* Dracula Purple */
}

#network.disconnected {
  background-color: rgba(98, 114, 164, 0.5); /* Dracula Comment */
}

#tray {
  background-color: rgba(255, 85, 85, 0.5); /* Dracula Red */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgb(255, 85, 85); /* Dracula Red */
}

/* Modules-Right */

#custom-spotify {
  background-color: rgba(241, 250, 140, 0.5); /* Dracula Yellow */
}

#pulseaudio {
  background-color: rgba(241, 250, 140, 0.5); /* Dracula Yellow */
}

#pulseaudio.muted {
  background-color: rgba(98, 114, 164, 0.5); /* Dracula Comment */
}

#backlight {
  background-color: rgba(189, 147, 249, 0.5); /* Dracula Purple */
}

#custom-nightlight_toggle {
  background-color: rgba(189, 147, 249, 0.5); /* Dracula Purple */
}

#battery {
    background-color: rgba(139, 233, 253, 0.5); /* Dracula Cyan */
}

#battery.charging, #battery.plugged {
    background-color: rgba(255, 184, 108, 0.5); /* Dracula Orange */
}

#custom-dunst_toggle {
  background-color: rgba(80, 250, 123, 0.5); /* Dracula Green */
}

#clock {
  background-color: rgba(68, 71, 90, 0.5); /* Dracula Current Line */
}

#custom-weather {
  background-color: rgba(255, 121, 198, 0.5); /* Dracula Pink */
}

